<h1>Lista de categorias:</h1>
<a href="/categorias/add" class="btn-criar-post">Criar Categoria</a>

{{#each categorias}}
<div class="card mt-4">
    <div class="card-body">
        <h1>{{nome}}</h1>
        <small>{{slug}}</small>
        <br>
        <small>{{formatDateTime data}}</small><br>
        <a href="/categorias/edit/{{_id}}" class="btn-criar-post mt-3">Editar</a>
        <form action="/categorias/del" method="post">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger d-flex mt-4">Deletar</button>
        </form>
    </div>
</div>
{{else}}

{{/each}}