{{>_nav_cat}}
<div class="card-body" style="width: auto;">
<div class="card">
    {{#each postagens}}
    <div class="card-body">
        <div class="card">
            <div class="m-3">
                <h2>{{titulo}}</h2>
                <h4>{{descricao}}</h4>
                <img src="/uploads/{{img}}" id="img" alt="{{titulo}}">
                <p class="mt-3">{{conteudo}}</p><br>
                <small>{{formatDateTime data}}</small>
            </div>
        </div>
    </div>
    {{else}}

    {{/each}}
</div>
</div>