<h1 class="">Página Principal</h1>
<a href="/posts/add" class="btn-criar-post">
    Criar Post
</a>
<br>
<br>
{{>_nav_cat}}
<div class="card-body" style="width: auto;">
<div class="card">
    {{#each postagens}}
    <div class="card-body">
        <div class="card">
            <div class="m-3">
                <h3>{{titulo}}</h3>
                <h5>{{descricao}}</h5>
                <img src="/uploads/{{img}}" alt="{{titulo}}">
                <p>{{conteudo}}</p><br>
                <small>{{formatDateTime data}}</small>
                <form action="/posts/del" method="post">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger d-flex mt-4">Deletar</button>
        </form>
            </div>
        </div>
    </div>
    {{else}}

    {{/each}}
</div>
</div>